<nav>
	<ul>

		<li>
			<div class="iconeImage">
				<a href="{{path('app_home')}}"><img src="{{asset('images/icone.png')}}" alt=""></a>
			</div>
		</li>
		<li>
			<a href="{{path('app_home')}}">Home</a>
		</li>

		<li>
			<a href="">Les Vehicules</a>
		</li>


		<li>
			<a href="">Les Categories</a>
		</li>
		<li>
			<a href="">Admin</a>
		</li>


		<li>
			<a href="">Profil</a>
		</li>
		<li>
			<a href="">Logout</a>
		</li>
		<li>
			<a href="">Login</a>
		</li>
		<li>
			<a href="">Register</a>
		</li>
		<li>
			<a href="">Contact</a>
		</li>

	</ul>
</nav>
